{% extends 'base.html.twig' %}

{% block title %}New Notify{% endblock %}

{% block body %}
    <h1>Create new Notify</h1>

    {{ include('notify/_form.html.twig') }}

    <a href="{{ path('app_notify_index') }}">back to list</a>
{% endblock %}
