
<fieldset>
    <legend>Identification de la Banque</legend>
    <div class="row">

        <div class="col-6">
            <div class="form-group">
                <label for="date_etablissement">Nom de la Banque *</label>
                {{ form_widget(form.nom, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="objet">Code banque *</label>
                {{ form_widget(form.codeBanque , {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</fieldset>






