{% extends '../../base.html.twig' %}

{% block title %}Edit BanqueClient{% endblock %}

{% block body %}
    <h1>Edit BanqueClient</h1>

    {{ include('Banque/banque_client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_banque_client_index') }}">back to list</a>

    {{ include('Banque/banque_client/_delete_form.html.twig') }}
{% endblock %}
