<form method="post" action="{{ path('app_offre_commerciale_delete', {'id': offre_commerciale.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre_commerciale.id) }}">
    <button class="btn">Delete</button>
</form>
