<form method="post" action="{{ path('app_detatil_produit_delete', {'id': detatil_produit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ detatil_produit.id) }}">
    <button class="btn">Delete</button>
</form>
