<form method="post" action="{{ path('app_facture_pro_format_delete', {'id': facture_pro_format.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facture_pro_format.id) }}">
    <button class="btn">Delete</button>
</form>
